* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;

  background-color: white;
}
header {
  border-bottom: 3px solid;
  border-color: rgb(215, 214, 214);
  padding-inline: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h1 img {
    width: 40px;
  }
  nav img {
    width: 30px;
  }
}
section h2 {
  color: rgb(227, 94, 45);
}
.headline {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "nunito";
  h2 {
    font-size: small;
    font-weight: bold;
    padding: 1rem;
  }
}
h3 {
  text-decoration: none;
  font-weight: bolder;
  font-size: x-large;
}
.view {
  text-decoration: none;
  font-family: "nunito";
  background-color: rgb(227, 94, 45);
  color: white;
  padding: 0.5rem;
  border-radius: 0 30% 30% 30%;
}
.pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  img {
    border-radius: 10% 10% 10% 10%;
  }
}
